<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Lab: Exploring the Dataset**

Estimated time needed: **30** minutes

## Introduction

Data exploration is the initial phase of data analysis where we aim to understand the data's characteristics, identify patterns, and uncover potential insights. It is a crucial step that helps us make informed decisions about subsequent analysis.

## Objectives

After completing this lab, you will be able to:

-   Summarize the key characteristics of a dataset.
-   Identify different data types commonly used in data analysis.

### Install the required library

In [1]:
import micropip

await micropip.install('pandas')

# Import pandas after installation
import pandas as pd
print(pd.__version__)

<ipython-input-1-4a848102c67d>:6: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

2.2.0

## Load the dataset

<h3>Read Data</h3>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [29]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [30]:
await download(file_path, "survey_data.csv")
file_name="survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [31]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

# Hands on Lab

## Explore the dataset

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [32]:
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [7]:
print('The number of rows in the dataframe is ' + str(df.shape[0]) +'.')

The number of rows in the dataframe is 65437.

Print the number of columns in the dataset.

In [8]:
print('The number of columns in the dataframe is ' + str(df.shape[1]) +'.')

The number of columns in the dataframe is 114.

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [23]:
df.dtypes

ResponseId               int64
MainBranch              object
Age                    float64
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

Print the mean age of the survey participants.

In [ ]:
print('The mean age of the survey participants is ', df['Age'].mean().round(1))

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [20]:
print('There are', df['Country'].nunique(), 'unique countries in the survey:')

print('\nCountry                               Respondants')      

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df['Country'].value_counts())

There are 185 unique countries in the survey:

Country                               Respondants
Country
United States of America                                11095
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
France                                                   2110
Canada                                                   2104
Poland                                                   1534
Netherlands                                              1449
Brazil                                                   1375
Italy                                                    1341
Australia                                                1260
Spain                                                    1123
Sweden                                                   1016
Russian Federation                                        925
Switzerland                                               876
Austria                                                   791
Czech Republic                                            714
Israel                                                    604
Turkey                                                    546
Belgium                                                   526
Denmark                                                   504
Portugal                                                  470
Norway                                                    450
Romania                                                   439
Pakistan                                                  415
Iran, Islamic Republic of...                              411
China                                                     406
Mexico                                                    402
New Zealand                                               396
Hungary                                                   396
Greece                                                    389
Finland                                                   386
South Africa                                              358
Indonesia                                                 354
Argentina                                                 345
Bangladesh                                                327
Bulgaria                                                  319
Nigeria                                                   305
Viet Nam                                                  296
Japan                                                     288
Ireland                                                   270
Taiwan                                                    268
Egypt                                                     262
Slovakia                                                  248
Serbia                                                    245
Colombia                                                  217
Philippines                                               196
Croatia                                                   187
Lithuania                                                 183
Kenya                                                     180
Singapore                                                 177
Sri Lanka                                                 163
Malaysia                                                  161
Thailand                                                  147
Hong Kong (S.A.R.)                                        146
South Korea                                               146
Slovenia                                                  142
Nepal                                                     139
Chile                                                     133
United Arab Emirates                                      130
Latvia                                                    128
Estonia                                                   110
Morocco                                                    98
Belarus                                                    97
Uruguay                                                    94
Georgia                                                    94
Kazakhstan                                                 81
Algeria                                                    77
Peru                                                       75
Tunisia                                                    71
Ghana                                                      70
Venezuela, Bolivarian Republic of...                       69
Cyprus                                                     63
Uzbekistan                                                 62
Bosnia and Herzegovina                                     62
Ethiopia                                                   60
Armenia                                                    58
Republic of Korea                                          57
Afghanistan                                                56
Saudi Arabia                                               56
Ecuador                                                    54
Costa Rica                                                 54
Albania                                                    49
Dominican Republic                                         47
Lebanon                                                    46
Iraq                                                       44
Kyrgyzstan                                                 44
Nomadic                                                    43
Guatemala                                                  41
Jordan                                                     40
Luxembourg                                                 40
Uganda                                                     39
Paraguay                                                   39
Republic of Moldova                                        38
Republic of North Macedonia                                36
Bolivia                                                    32
Cameroon                                                   31
Iceland                                                    31
Syrian Arab Republic                                       30
Malta                                                      29
United Republic of Tanzania                                28
Montenegro                                                 27
Azerbaijan                                                 27
Zimbabwe                                                   26
Cuba                                                       23
Cambodia                                                   22
Rwanda                                                     22
Myanmar                                                    21
Nicaragua                                                  21
Angola                                                     20
El Salvador                                                19
Panama                                                     18
Kosovo                                                     18
Yemen                                                      18
Maldives                                                   16
Honduras                                                   16
Zambia                                                     15
Andorra                                                    15
Qatar                                                      15
Mauritius                                                  15
Palestine                                                  15
Madagascar                                                 14
Côte d'Ivoire                                              14
Isle of Man                                                13
Malawi                                                     12
Jamaica                                                    11
Benin                                                      11
Turkmenistan                                               11
Bahrain                                                    11
Mongolia                                                   10
Senegal                                                     9
Somalia                                                     9
Togo                                                        9
Kuwait                                                      8
Oman                                                        8
Congo, Republic of the...                                   8
Trinidad and Tobago                                         8
Mozambique                                                  7
Tajikistan                                                  7
Sudan                                                       7
Barbados                                                    6
Mauritania                                                  5
Antigua and Barbuda                                         5
Cape Verde                                                  5
Namibia                                                     5
Botswana                                                    5
Suriname                                                    5
Burkina Faso                                                4
Liberia                                                     4
Libyan Arab Jamahiriya                                      4
Swaziland                                                   4
Fiji                                                        4
Liechtenstein                                               4
Lao People's Democratic Republic                            4
Bahamas                                                     4
Gabon                                                       4
Brunei Darussalam                                           3
Guyana                                                      3
North Korea                                                 3
Sierra Leone                                                3
Burundi                                                     3
Democratic Republic of the Congo                            3
Monaco                                                      3
San Marino                                                  3
Bhutan                                                      3
Mali                                                        2
Democratic People's Republic of Korea                       2
Guinea-Bissau                                               2
Belize                                                      2
Papua New Guinea                                            1
Djibouti                                                    1
Chad                                                        1
Dominica                                                    1
Nauru                                                       1
Haiti                                                       1
Micronesia, Federated States of...                          1
Saint Kitts and Nevis                                       1
Lesotho                                                     1
Samoa                                                       1
Central African Republic                                    1
Equatorial Guinea                                           1
Niger                                                       1
Guinea                                                      1
Solomon Islands                                             1
Name: count, dtype: int64

Copyright ©  IBM Corporation. All rights reserved.